.index {
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.index .div-2 {
  background-color: #fafafa;
  height: 823px;
  position: relative;
  width: 411px;
}

.index .group {
  height: 52px;
  left: 12px;
  position: absolute;
  top: 62px;
  width: 53px;
}

.index .overlap {
  height: 205px;
  left: 0;
  position: absolute;
  top: 618px;
  width: 411px;
}

.index .bottombar {
  height: 174px;
  left: 0;
  position: absolute;
  top: 31px;
  width: 411px;
}

.index .overlap-wrapper {
  height: 62px;
  left: 40px;
  position: absolute;
  top: 0;
  width: 337px;
}

.index .div-wrapper {
  background-color: #f08f5f;
  border-radius: 16px;
  height: 62px;
  position: relative;
  width: 335px;
}

.index .text-wrapper-3 {
  color: #ffffff;
  font-family: "Roboto", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 103px;
  letter-spacing: 0.54px;
  line-height: normal;
  position: absolute;
  top: 20px;
  white-space: nowrap;
}

.index .shopping-cart {
  color: #363636;
  font-family: "Roboto", Helvetica;
  font-size: 22px;
  font-weight: 700;
  left: 16px;
  letter-spacing: 0.66px;
  line-height: normal;
  position: absolute;
  top: 145px;
  white-space: nowrap;
}

.index .overlap-2 {
  height: 85px;
  left: 16px;
  position: absolute;
  top: 416px;
  width: 385px;
}

.index .overlap-group-wrapper {
  height: 85px;
  left: 0;
  position: absolute;
  top: 0;
  width: 385px;
}

.index .overlap-3 {
  background-color: #f2f2f5;
  border-radius: 16px;
  height: 85px;
  position: relative;
  width: 379px;
}

.index .rectangle {
  height: 60px;
  left: 13px;
  position: absolute;
  top: 13px;
  width: 61px;
}

.index .overlap-4 {
  height: 39px;
  left: 87px;
  position: absolute;
  top: 29px;
  width: 121px;
}

.index .text-wrapper-4 {
  color: #494949;
  font-family: "Roboto", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0.36px;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 121px;
}

.index .text-wrapper-5 {
  color: #f08f5f;
  font-family: "Roboto", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0.48px;
  line-height: normal;
  position: absolute;
  top: 20px;
  white-space: nowrap;
}

.index .text-wrapper-6 {
  color: #b1b1b1;
  font-family: "Roboto", Helvetica;
  font-size: 10px;
  font-weight: 500;
  left: 87px;
  letter-spacing: 0.3px;
  line-height: normal;
  position: absolute;
  top: 14px;
  white-space: nowrap;
}

.index .group-2 {
  height: 25px;
  left: 260px;
  position: absolute;
  top: 42px;
  width: 69px;
}

.index .overlap-5 {
  background-color: #ffffff;
  border-radius: 5px;
  height: 25px;
  position: relative;
  width: 67px;
}

.index .group-3 {
  height: 10px;
  left: 49px;
  position: absolute;
  top: 8px;
  width: 10px;
}

.index .overlap-group-2 {
  height: 10px;
  position: relative;
}

.index .line {
  height: 10px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1px;
}

.index .img {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 10px;
}

.index .group-4 {
  background-image: url(https://cdn.animaapp.com/projects/61ef7aa2dd0b21a3ff5d423c/releases/6532585bb35383690516e023/img/line-3-1.svg);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 7px;
  position: absolute;
  top: 12px;
  width: 12px;
}

.index .text-wrapper-7 {
  color: #363636;
  font-family: "Roboto", Helvetica;
  font-size: 10px;
  font-weight: 500;
  left: 31px;
  letter-spacing: 0.3px;
  line-height: normal;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.index .mdi-bin-outline {
  height: 24px;
  left: 341px;
  position: absolute;
  top: 43px;
  width: 24px;
}

.index .overlap-6 {
  height: 85px;
  left: 16px;
  position: absolute;
  top: 306px;
  width: 385px;
}

.index .rectangle-2 {
  height: 61px;
  left: 10px;
  position: absolute;
  top: 10px;
  width: 61px;
}

.index .group-5 {
  height: 25px;
  left: 260px;
  position: absolute;
  top: 43px;
  width: 69px;
}

.index .mdi-bin-outline-2 {
  height: 24px;
  left: 341px;
  position: absolute;
  top: 44px;
  width: 24px;
}

.index .overlap-7 {
  height: 85px;
  left: 16px;
  position: absolute;
  top: 202px;
  width: 385px;
}

.index .text-wrapper-8 {
  color: #494949d4;
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 87px;
  letter-spacing: 0.42px;
  line-height: normal;
  position: absolute;
  top: 29px;
  white-space: nowrap;
}

.index .text-wrapper-9 {
  color: #f08f5f;
  font-family: "Roboto", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 87px;
  letter-spacing: 0.48px;
  line-height: normal;
  position: absolute;
  top: 49px;
  white-space: nowrap;
}

.index .group-6 {
  height: 25px;
  left: 260px;
  position: absolute;
  top: 46px;
  width: 69px;
}

.index .rectangle-3 {
  height: 61px;
  left: 10px;
  position: absolute;
  top: 9px;
  width: 61px;
}

.index .mdi-bin-outline-3 {
  height: 24px;
  left: 341px;
  position: absolute;
  top: 46px;
  width: 24px;
}

.index .text-wrapper-10 {
  color: #f08f5f;
  font-family: "Roboto", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 318px;
  letter-spacing: 0.54px;
  line-height: normal;
  position: absolute;
  top: 536px;
  width: 77px;
}

.index .text-wrapper-11 {
  color: #363636;
  font-family: "Roboto", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 16px;
  letter-spacing: 0.54px;
  line-height: normal;
  position: absolute;
  top: 536px;
  width: 49px;
}

.index .system-bar-instance {
  left: 26px !important;
  position: absolute !important;
  top: 0 !important;
}

.index .design-component-instance-node {
  border-color: #3c3c4336 !important;
}

.index .system-bar-2 {
  background-color: var(--grayscale-1) !important;
}
