:root {
  --darklabelprimary: rgba(255, 255, 255, 1);
  --darklabelsecondary: rgba(235, 235, 245, 0.6);
  --grayscale-1: rgba(28, 31, 30, 1);
  --lightlabelprimary: rgba(0, 0, 0, 1);
  --lightlabelsecondary: rgba(60, 60, 67, 0.6);
  --lightsystemblue: rgba(0, 122, 255, 1);
  --lightsystemgreen: rgba(52, 199, 89, 1);
  --lightsystemred: rgba(255, 59, 48, 1);
  --lightsystemwhite: rgba(255, 255, 255, 1);
}
